.productContainer{
    display: grid;
  grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
  padding: 10px;
    margin-bottom: 10px;
    
}
.search{
  width: 200px;
}
/* media query */
@media screen and (max-width: 600px) {
  .productContainer{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}